.fix-innerhtml-font h1 {
    font-size: 20px;
}

.fix-innerhtml-font h2 {
    font-size: 18px;
}

.fix-innerhtml-font h1 {
    font-size: 16px;
}

.fix-innerhtml-font h1 {
    font-size: 14px;
}

.fix-innerhtml-font h1 {
    font-size: 12px;
}



